<!DOCTYPE html>
<html lang="en">

<body>
    <% include ../extras/navbar.ejs %>

    
        <div style="text-align: center;">
          
            <img src="<%=profile.profileImg%>">
          
        </div>
        
      <div style="text-align: center;">
        <h3><%=profile.firstname%> <%=profile.lastname%></h3>
        <p><%=profile.bio%></p>
      </div>
      <ul style="text-align: center;">
        <h3><%=profile.age%>years</h3>
        <h3><%=profile.gender%></h3>
        
        <%if (tag && tag[0]){%><%i = 0
          while (tag[i]){ %>
            <div>I like <%=tag[i].tag%></div>

          <% i++ }} %>
         <h3><%=profile.score%> popularity points</h3>
      </ul>
     
      <div style="text-align: center;">
        <form action="/user_profile/<%= profile.id %>" method="post">
         <input type="submit" name="block" value="Block" />
       </form>

      <div>
        <form action="/user_profile/<%= profile.id %>" method="post">
          <div>
            <div style="text-align: center;">
             <strong>like</strong> <input type="submit" id="like" name="like" value=""
                />
            </div>
            <div style="text-align: center;">
             <strong>dislike</strong> <input type="submit" id="dislike" name="dislike" value=""
                />
            </div>
          </div>
        </form>
      </div>

     </div>

  </div>

</body>
  <% include ../extras/footer.ejs %>
 


</html>