<!DOCTYPE html>
<html lang="en">

<body>
    <% include ../extras/navbar.ejs %>
<div>
  <% var i = 0; while (users[i]) { %>
  <div>
    <div onclick="location.href='<%='/user_profile/' + users[i].id%>'">
      <img src="<%= users[i].profileImg %>">
      <div>
        <h3><%=users[i].username%><br /> <%=users[i].age%> years old</h3>
        <p><%= users[i].bio%></p>
      </div>
    </div>
  </div>
<% i++; } %>
</div>
  <% include ../extras/footer.ejs %>
</body>

</html>