<!DOCTYPE html>
<html lang="en">


<body>

    <% include ../extras/navbar.ejs %>
    <div>
        <% if (typeof error !== 'undefined' && error && error !== 'none') { %>
            <h1><%=error%></h1>
            <% } %>
        <h2>People who like you</h2>
        <hr>
        <% if (like != 'none') {
            i = 0; while (like[i]) { %>
            <a href="<%='/user_profile/' + like[i].id %>">
                <li><%= like[i].username %></li>
            </a><hr/>
            <% i++ } } %>
    </div>
    <div>
        <h2>People who checked you out</h2>
        <hr>
        <% if (visit != 'none') {
            i = 0; while (visit[i]) { %>
            <a href="<%='/user_profile/' + visit[i].id %>">
                <li><%= visit[i].username %></li>
            </a><hr/>
            <% i++ } } %>
    </div>
</div>
   <h1 style="text-align: center;"><%=profile.firstname %> <%=profile.lastname %></h1>
    <div>
        
  
  </button>
 

    <div style="text-align: center;">
        <div  class="update" style="width: 90%;">
            <img src="<%=profile.profileImg%>" style="height: 100%;">
            <div>
                    <form action="/profile" method="POST">
                        <textarea placeholder="<%=profile.bio%>" name="bio" maxlength="500" rows="2" value="<%=profile.bio%>"></textarea>
                        <input type="submit" name="sub_bio" value="update">
                    </form>
                </div>
            <ul>
                <h3>
                        <form action="/profile" method="POST">
                            <input style="width: 70px; display: inline-block;" type="number" name="age" value="<%= profile.age%>">
                            <input  type="submit" name="sub_age" value="update">
                        </form>
                </h3>
                <h3>
                    <form action="/profile" method="POST">
                        <select name="gender">
                            <% if (!profile.gender) { %>
                            <option> Select Gender </option>
                            <% } else { %>
                            <option><%= profile.gender %> </option><% } %>
                            <option> Man </option>
                            <option> Woman </option>
                        </select>
                        <input  name="sub_gender" type="submit" value="update">
                    </form>
                    <div class="bio"><%=profile.gender%></div>
                </h3>
                <h3>
                    <form action="/profile" method="POST">
                        <select  name="orientation">
                            <% if (!profile.gender) { %>
                            <option> Select Gender </option>
                            <% } else { %>
                            <option><%= profile.orientation %> </option><% } %>
                            <option>Heterosexual</option>
                            <option>Homosexual</option>
                            <option>Bisexual</option>
                        </select>
                        <input  name="sub_orientation" type="submit" value="update">
                    </form>
                    <div><%=profile.orientation%></div>
                </h3>
            </ul>
            
                <div>
                    <h2>registration details</h2>
                    <div>
                        <form action="/profile" method="post">
                            <select  name="edit" id='updatelist' onchange="placeholder()">
                                <option value='1'> Username </option>
                                <option value='2'> Fistname </option>
                                <option value='3'> Lastname </option>
                                <option value='4'> Email </option>
                                <option value='5'> Password </option>
                            </select>
                            <div >
                                <input  type="text" name="changement" id='update' required>
                                <input  type="submit" name="general" value="update" id="change">
                            </div>
                        </form>
                    </div>
                </div>
            
                <div>
                    <h2>My Interests</h2>
                    <div>
                        <div>
                            <form action="/profile" method="post">
                                <input type="text" name="newtag" id='newtag' maxlength="40">
                                <input  type="submit" name="general" value="add" id="tagbutton">
                            </form>
                        </div>
                        <div>
                            <% 
                                if (profile && profile.tag) { 
                                    i = 0
                                while (profile.tag[i]){
                                        %>
                            <div>
                                <form action="/profile" method="post">
                                    I like <%= profile.tag[i].tag %>
                                    <button type="submit"  name="deltag" value="<%= profile.tag[i++].id %>">x</button>
                                </form>
                            </div>
                            <% }} %>
                        </div>
                    </div>

                </div>
                    
                </div>
            <div>
                <div>

                    <div>
                        <div style="width: 90%;">
                            <form action="/profilePic" method="post" enctype="multipart/form-data">
                                <div>
                                    <input type="file" name="file" id="validatedCustomFile" accept=".jpg, .jpeg, .png" required>
                                    <label  for="validatedCustomFile">pick a pic</label>
                                    <input type=submit name=profileImg  value="Upload Image">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

    <% include ../extras/footer.ejs %>



    <script>

        update = document.getElementById('update');

        window.onload = placeholder();
        function placeholder() {
            var option = document.getElementById("updatelist").value;
            if (option == '1'){
                var result = '<%=profile.username%>'
            }
            else if (option == '2'){
                var result = '<%=profile.firstname %>'
            }
                else if (option == '3'){
                    var result = '<%=profile.lastname %>'
                }
            else if (option == '4'){
                var result = '<%= profile.email %>'
            }
            else if (option == '5') {
                var result = 'Change Password'
                update.type = "Password";
            }
            if (option != 5){
                update.type = 'text'
            }
                
            document.getElementById("update").placeholder = result;
        }  
    </script>
</body>

</html>