<!DOCTYPE html>
<html lang="en">

<body>
    <% include ../extras/navbar.ejs %>

    <div>
      <% if (online == 1){%>
        <p>Online</p>
        <%}%>
      <%} if (like == 2) { %>
        <p><i><b> this user likes you, so... what do u say?</b></i></p>
      <% } %>
      <% if (like == 3) { %>
            <h1 style="text-align: center;">match</h1>
        <% } %>
      <div >
        <div>
          
            <img src="<%-profile.img1%>">
          
        </div>
        
      <div>
        <h5><%-profile.name%></h5>
        <p><%-profile.bio%></p>
      </div>
      <ul>
        <li><%-profile.age%>years</li>
        <li><%-profile.gender%></li>
        
        <%if (tag && tag[0]){%><li><%i = 0
          while (tag[i]){ %>
            <div>I like <%-tag[i].tag%></div>

          <% i++ }} %></li>
          <li><%-profile.score%> popularity points</li>
      </ul>
     
      <div>
        <form action="/user_profile/<%- profile.id %>" method="post">
         <input type="submit" name="block" value="Block" />
       </form>

      <div>
        <form action="/user_profile/<%- profile.id %>" method="post">
          <div>
            <div">
             <strong>like</strong> <input type="submit" id="like" name="like" value=""
                />
            </div>
            <div >
             <strong>dislike</strong> <input type="submit" id="dislike" name="dislike" value=""
                />
            </div>
          </div>
        </form>
      </div>

     </div>

  </div>

</body>
  <% include ../extras/footer.ejs %>
 


</html>