<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../extras/head.ejs %>
</head>
<body id="profile-user">
    <% include ../extras/navbar.ejs %>

    <div>
    <div>
      <% if (online == 1){%>
        <p>Online</p>
        
        <%}else {%>
          <p>Offline</p>
          <% if (profile.active == null) { profile.active = 'Never'%><%-profile.active%> <%} else {%>
          <time class="timeago" datetime="<%-profile.active.getFullYear()%>-<%-profile.active.getUTCMonth()+1%>-<%-profile.active.getDate()%>T<%-profile.active.getHours()%>:<%-profile.active.getMinutes()%>:<%-profile.active.getSeconds()%>"></time>
<%}%>
      <%} if (like == 2) { %>
        <p><i><b> this user likes you, so... what do u say?</b></i></p>
      <% } %>
      <% if (like == 3) { %>
            <h1 style="text-align: center;">match</h1>
        <% } %>
      <div >
        <div>
          
            <img src="<%-profile.img1%>">
          
        </div>
        
      <div>
        <h5><%-profile.name%></h5>
        <p><%-profile.bio%></p>
      </div>
      <ul>
        <li><%-profile.age%>years</li>
        <li><%-profile.gender%></li>
        
        <%if (tag && tag[0]){%><li><%i = 0
          while (tag[i]){ %>
            <div>I like <%-tag[i].tag%></div>

          <% i++ }} %></li>
          <li><%-profile.score%> popularity points</li>
      </ul>
     
      <div>
        <form action="/user_profile/<%- profile.id %>" method="post">
         <input type="submit" name="block" value="Block" />
       </form>

      <div>
        <form action="/user_profile/<%- profile.id %>" method="post">
          <div>
            <div">
             <strong>like</strong> <input type="submit" id="like" name="like" value=""
                />
            </div>
            <div >
             <strong>dislike</strong> <input type="submit" id="dislike" name="dislike" value=""
                />
            </div>
          </div>
        </form>
      </div>

     
       
     </div>

  </div>

</body>
  <% include ../extras/footer.ejs %>
 
  <script src="/socket.io/socket.io.js"></script>

  <script>

var socket = io('http://localhost:3000');
<% if (Array.isArray(notif) == false) { %>
var id = <%- notif %> ;
<% } else { %>
var id = <%- notif[0].user_id %> ;
<% }  %>
socket.on('connect', function (data) {
    socket.emit('setUserId', id)
});

$("time.timeago").timeago();

    <% if (like == 1 || like == 3) { %>
		document.getElementById("like").disabled = "disabled";
	<% } else if (like == -1) { %>
		document.getElementById("like").disabled = "disabled";
		document.getElementById("dislike").disabled = "disabled";
	<% } else { %>
		document.getElementById("dislike").disabled = "disabled";
	<% } %>
  </script>


</html>